#App{
border: 1px solid blacks;
box-sizing: border-boxs;
size: 0ch;
}
.image{
    
        
    
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            float: left;
          
      }
